main {
    overflow-y: auto;
}

main::-webkit-scrollbar {
    display: none;
}

.list {
    height: 12.5vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 3fr 1fr;
    border-bottom: solid 1px #9b9b9b;
    text-decoration: none;
    color: inherit;
}

.list div {
    display: grid;
}

.icon {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    place-items: center;
}

.icon img {   
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.friendName {
    grid-row: 1 / 2;
    grid-column: 2 / 4;
    font-weight: bold;
    font-size: 20px;
    align-items: center;
}

.newMessage {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    align-items: center;
}

.date {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    place-items: center;
}