header {
    text-align: center;
    border-bottom: solid 1px #9b9b9b9b;
}

.form {
    display: flex;
    margin: 10px 5px 0;
}

.item {
    flex: 1;
}

.input {
    flex: 3;
    margin-top: 15px;
}

button {
    display: block;
    margin: auto;
}

ul {
    padding-left: 0;
    list-style: none;
}

li {
    padding-bottom: 5px;
}