<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% load static %}">
    <link rel="stylesheet" href="{% static 'myapp/css/login.css' %}">
    <title>Document</title>
</head>
<body>
<header>
    <h1>ログイン</h1>
</header>
<main>
    <form action="" method="post">
        {% csrf_token %}
        {% if form.errors %}
        <ul>
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
        {% endif %}
        <input type="hidden" name="next" value="{{ next }}">
        {% for field in form %}
        <div class="form">
            <p class="item">{{ field.label_tag }}</p>
            <div class="input">{{ field }}</div>
        </div>
        {% endfor %}
        <input type="submit" value="ログイン">
    </form>
</main>
</body>
</html>